.taglist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  li {
    color: white;
    font-size: 0.875rem;
    height: 25px;
    padding: 0 20px;
    border-radius: 10px;
    background-color: #ff6060;
    align-content: center;

    @include breakpoint(mobile) {
      height: 18px;
      font-size: 0.625rem;
    }
  }
}
