.taglist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  li {
    color: white;
    font-size: 0.8rem;
    height: 25px;
    padding: 0 10px;
    border-radius: 10px;
    background-color: #ff6060;
    align-content: center;
  }
}
