.accommodation {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .infos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include breakpoint(tablet) {
      flex-direction: column;
      gap: 20px;
    }

    .accommodationinfo {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .secondaryinfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      @include breakpoint(tablet) {
        flex-direction: row-reverse;
      }
    }

    .hostinfo {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      font-size: 1.125rem;
      color: #ff6060;

      span {
        display: inline-block;
        max-width: min-content;
        text-align: end;
      }

      img {
        height: 64px;
        width: 64px;
        border-radius: 32px;
        overflow: hidden;
      }
    }
  }

  .details {
    display: flex;
    gap: 20px;
    flex-direction: row;

    > * {
      flex: 1 1 0;
    }

    @include breakpoint(tablet) {
      flex-direction: column;

      > * {
        flex-basis: auto;
      }
    }
  }
}
