header {
  max-width: 1240px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;

  nav {
    display: flex;
    gap: 50px;

    a {
      font-weight: bold;
    }

    .active {
      text-decoration: underline;
    }
  }
}
