@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

p,
span,
li {
  font-size: 1.125rem;
}
@media (max-width: 600px) {
  p,
  span,
  li {
    font-size: 0.75rem;
  }
}

h1 {
  color: #ff6060;
  font-weight: bold;
  font-size: 2.25rem;
}
@media (max-width: 600px) {
  h1 {
    font-size: 1.125rem;
  }
}

h2 {
  color: black;
  font-weight: bold;
  font-size: 1.125rem;
}
@media (max-width: 600px) {
  h2 {
    font-size: 0.813rem;
  }
}

.banner {
  width: 100%;
  height: 220px;
  padding: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aaa;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
.banner p {
  text-wrap: balance;
  color: white;
  font-weight: bold;
  font-size: 3rem;
}
@media (max-width: 600px) {
  .banner {
    height: 110px;
    padding: 20px;
    justify-content: flex-start;
  }
  .banner p {
    font-size: 1.125rem;
  }
}

.card {
  background-blend-mode: multiply;
  background-size: cover !important;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 10px;
  align-items: flex-end;
  padding: 20px;
  display: flex;
}
@media (max-width: 600px) {
  .card {
    aspect-ratio: 2;
  }
}
.card span {
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  text-wrap: balance;
  text-shadow: 0 0 3px black;
}

.collapse {
  overflow: hidden;
}
.collapse h2 {
  position: relative;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #ff6060;
  cursor: pointer;
}
.collapse h2::after {
  position: absolute;
  right: 20px;
  content: "â®";
  transition: 250ms;
}
.collapse .collapsible {
  background-color: #f6f6f6;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  display: grid;
  opacity: 0;
  padding: 0;
  grid-template-rows: 0fr;
  transition: opacity 50ms, padding 100ms, grid-template-rows 250ms;
}
.collapse .collapsible * {
  min-height: 0;
}

.collapse.open h2 {
  border-radius: 5px 5px 0 0;
}
.collapse.open h2::after {
  rotate: -180deg;
}
.collapse.open .collapsible {
  opacity: 100%;
  padding: 20px;
  grid-template-rows: 1fr;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
  font-size: 5rem;
  color: white;
  text-shadow: 0 0 2px black;
}
@media (max-width: 600px) {
  .slideshow {
    height: 225px;
    font-size: 3rem;
  }
}
.slideshow .slide {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.slideshow .previous {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
  cursor: pointer;
}
.slideshow .next {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  cursor: pointer;
}
.slideshow .selector {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.slideshow .selector div {
  cursor: pointer;
}
.slideshow .selector div.current {
  color: #ff6060;
}

.taglist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.taglist li {
  color: white;
  font-size: 0.875rem;
  height: 25px;
  padding: 0 20px;
  border-radius: 10px;
  background-color: #ff6060;
  align-content: center;
}
@media (max-width: 600px) {
  .taglist li {
    height: 18px;
    font-size: 0.625rem;
  }
}

.rating {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.rating span {
  font-size: 2rem;
}
@media (max-width: 600px) {
  .rating span {
    font-size: 1rem;
  }
}
.rating .redstar {
  color: #ff6060;
}
.rating .greystar {
  color: #e3e3e3;
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  min-height: 100%;
}
@media (max-width: 600px) {
  #root {
    gap: 20px;
  }
}

header {
  width: 100%;
  max-width: 1320px;
  padding: 0 40px;
  padding-top: 40px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  header {
    padding: 0 20px;
  }
}
header nav {
  display: flex;
  gap: 50px;
}
header nav a {
  font-size: 1.5rem;
  font-weight: bold;
}
header nav .active {
  text-decoration: underline;
}
@media (max-width: 600px) {
  header {
    padding-top: 20px;
  }
  header img {
    height: 50px;
  }
  header nav {
    gap: 30px;
  }
  header nav a {
    font-size: 0.75rem;
    text-transform: uppercase;
  }
}

main {
  width: 100%;
  max-width: 1320px;
  padding: 0 40px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 600px) {
  main {
    padding: 0 20px;
  }
}
@media (max-width: 600px) {
  main {
    gap: 20px;
  }
}

.listing {
  background-color: #f6f6f6;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
  padding: 55px;
}
@media (max-width: 1024px) {
  .listing {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 30px;
  }
}
@media (max-width: 600px) {
  .listing {
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

footer {
  width: 100%;
  height: 200px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  gap: 20px;
  background-color: black;
  color: white;
}

.error {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
}
.error .errorcode {
  font-size: 18rem;
}
@media (max-width: 1024px) {
  .error .errorcode {
    font-size: 6rem;
  }
}
.error a {
  text-decoration: underline;
}

.accommodation {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.accommodation .infos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .accommodation .infos {
    flex-direction: column;
    gap: 10px;
  }
}
.accommodation .infos .accommodationinfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.accommodation .infos .secondaryinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 1024px) {
  .accommodation .infos .secondaryinfo {
    align-items: center;
    flex-direction: row-reverse;
  }
}
.accommodation .infos .hostinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 1.125rem;
  color: #ff6060;
}
.accommodation .infos .hostinfo span {
  display: inline-block;
  max-width: -moz-min-content;
  max-width: min-content;
  text-align: end;
}
.accommodation .infos .hostinfo img {
  height: 64px;
  width: 64px;
  border-radius: 32px;
  overflow: hidden;
}
@media (max-width: 600px) {
  .accommodation .infos .hostinfo img {
    height: 32px;
    width: 32px;
    border-radius: 16px;
  }
}
.accommodation .details {
  display: flex;
  gap: 20px;
  flex-direction: row;
}
.accommodation .details > * {
  flex: 1 1 0;
}
@media (max-width: 1024px) {
  .accommodation .details {
    flex-direction: column;
  }
  .accommodation .details > * {
    flex-basis: auto;
  }
}